* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;

}
div {
 margin :1px;
}

#box2{
  background-color: gray;
  border :2px solid black;



}
#box1{
  background-color: gray;
  border: 2px solid black;


}
#box3{
  background-color: gray;
  border: 2px solid black;

}
#b1{

  background-color:#D59898;
  border:1px solid black;
  width: 60px;
  height: 20px;
  float: right;
 

}

#b2{
   font-size: 10;
  background-color:lightblue;
  border:1px solid black;
  width: 60px;
  height: 20px;
  float: right;
}

#b3{

  background-color:green;
  border:1px solid black;
  width: 60px;
  height: 20px;
  float: right;
}
/* Simple Responsive Framework. */

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }

  .col-lg-3 {
    width: 25%;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
 
  .col-md-6 {
    width: 49%;
  }
 
    .col-lg-tablet{
   width: 100%;
   float: left;
 }
}
